.library{
    position: fixed;
    top:0;
    left:0;
    width:20rem;
    height:100%;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    box-shadow: 2px 2px 30px rgb(203, 203, 203);
    overflow: scroll;
    overflow-x:hidden;
    transform: translateX(-100%);
    transition:all 0.5s ease;
    opacity:0;
}

.library-song{
    display:flex;
    align-items: center;
    padding:0.2rem 0.8rem;
    cursor:pointer;

    img{
        width:40%;
        border-radius:50%;
    }

    &:hover{
        
        background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
        h3{
            color:rgb(237, 237, 237);
        }
        h4{
            color:rgb(219, 219, 219);
        }
        img{
            animation:spin 3s linear infinite;
        }
    }
}

.song-description{
    padding-left:1rem;
    h3{
        font-size:1rem;
    }
    h4{
        font-size:0.7rem;
    }
}

.selected{
    background-image: linear-gradient(-225deg, #DFFFCD 0%, #90F9C4 48%, #39F3BB 100%);
}

.open-library{
    transform: translateX(0%);
    opacity:1;
}

*::-webkit-scrollbar {
    width:5px;
}

*::-webkit-scrollbar-thumb {
    background:#dceae6;
}

*::-webkit-scrollbar-track {
    background-color: rgb(244, 240, 240);
    box-shadow: inset 0px 0px 4px white;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

@media screen and (max-width:768px){
    
    .library{
        width:100%;
        height:100%;
        box-shadow:none;
    }
    
    .library-songs{
        display:grid; 
        grid-template-columns: repeat(3, minmax(auto, 1fr));
    }

    .library-song{
        width:100%;
        padding:0;
        overflow: hidden;
        position:relative;
        img{
            width:100%;
            border-radius:0;
            transition: all 0.5s ease-in-out;
            opacity:0.9;
        }

        h3{
            width:100%;
            background-color: white;
            padding:0.3rem;
            opacity:0.9;
            position:absolute;
            top:0;
            left:0;
            font-size:0.8rem;
        }

        h4{
            display: none;
        }
        
        &:hover{
            
            img{
                animation:none;
                transform: scale(1.3);
            }

            h3{
                color:black;
            }
        }
    }

    *::-webkit-scrollbar {
        width:0;
    }
}