nav{
    width:100%;
    min-height:12vh;
    display:flex;
    justify-content: space-around;
    align-items: center;

    button{
        background:transparent;
        border:none;
        cursor:pointer;
        font-size:1.3rem;
    }

}