.player{
    min-height:20vh;
    display: flex;
    flex-direction: column;
}

.time-control{
    input{
        width:100%;
        -webkit-appearance: none;
        background:transparent;
        cursor:pointer;
    }
    div{
        display: flex;
        justify-content: space-between;
    }
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:1rem;
    height:1rem;
}

.track{
    width:100%;
    height:2rem;
    position:relative;
    border-radius:1rem;
    overflow:hidden;
}

.animate-track{
    background: rgb(227, 225, 225);
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    transform:translateX(0%);
    pointer-events:none;
}

.play-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.5rem 0;
    width:19rem;
    color: rgb(57, 57, 57);
    svg{
        cursor: pointer;
    }

    .volume-control{
        display: flex;
        flex-direction: column;

        .slider {
            width:3rem;
            -webkit-appearance: none;
            background: #e3e3e8; 
        }
        
        .slider::-webkit-slider-thumb {
            width: 0.8rem;
            height: 0.8rem; 
            background: #9c9595;
            cursor: pointer;
        }
    }
}