.player{
    min-height:20vh;
    display: flex;
    flex-direction: column;
}

.time-control{
    input{
        width:100%;
    }
    div{
        display: flex;
        justify-content: space-between;
    }
}

.play-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.5rem 0;
    width:19rem;

    svg{
        cursor: pointer;
    }
}