.song{
    display:flex;
    flex-direction: column;
    text-align: center;

    img{
        width:20rem;
        border-radius: 15%;
    }

    .song_information{
        padding:1.5rem;
    }

    h4{
        font-size:0.8rem;
    }
}

