@import './player';
@import './song';
@import './library';
@import './nav';

$basic-black:rgb(40, 40, 40);

*{
    margin:0;
    padding:0;
    box-sizing:border;
}

.app{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

h1,h2,h3{
    color:$basic-black;
}

h4{
    color:rgb(97, 97, 97);
}

body{
    font-family: 'Montserrat', sans-serif;
}